* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

.contenedor {
    background: #f5f5f5;
    text-decoration: none;
    /* Flexbox */
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    width: 100%;
}

body {
    background: #F2F2F2;
    top: 0;
}

header {
    align-items: center;
    background: #1f5f8b;
    /* Flexbox */
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.h3 { color: #f5f5f5; }

.logo {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

header .logo img { width: 140px; }

header .logo navbar-brand, a {
    color: #fff;
    line-height: 50px;
    text-decoration: none;
}

header nav {
    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

header nav a {
    background: #4d606e;
    color: #fff;
    /* Flexbox */
    flex-grow: 1;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

    header nav a:hover {
        text-decoration: none;
        background: #d3d4d8;
    }


footer {
    background: #1f5f8b;
    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

footer .links {
    background: #c0392b;
    display: flex;
    flex-wrap: wrap;
}

footer .links a {
    color: #fff;
    flex-grow: 1;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

footer .links a:hover { background: #E74C3C; }

footer .social { background: #e67e22; }

footer .social a {
    color: #fff;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}
#exampleModal .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    .contenedor { flex-direction: column; }

    header {
        flex-direction: column;
        padding: 0;
    }

    header .logo { margin: 20px 0; }

    header nav { width: 100%; }       
}

table {
    background: #F2F2F2;
    border: solid 1px #779CA6;
    border-collapse: collapse;
    border-spacing: 0;
    border-style: ridge;
    color: #222222;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    margin-bottom: 1.25em;
    width: 90%;
}

table a {
    color: #222222;
    font-size-adjust: initial;
    font-weight: bold;
}

p a {
    align-items: center;
    border: solid 4px #78a633;
    color: #222222;
    font-size-adjust: initial;
    font-weight: bold;
}

table tr th,
table tr td {
    border: 3px solid lavender;
    color: #222222;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5625em 0.625em;
}

table tr.even,
table tr.alt,
table tr:nth-of-type(even) { background: #4988b3; }

.resp thead tr th {
    background-color: #78A633;
    text-align: center;
}

table tr { background-color: #D1E0FF; }

@media only screen and (max-width: 768px) {
    table.resp,
    .resp thead,
    .resp tbody,
    .resp tr,
    .resp th,
    .resp td,
    .resp caption { display: block; }

    table.resp { border: none }

    .resp thead tr { display: none; }

    .resp tbody tr {
        border: 1px solid #667073;
        margin: 1em 0;
    }

    .resp td {
        border: none;
        border-bottom: 1px solid #667073;
        padding-left: 45%;
        position: relative;
        text-align: left;
    }

    .resp tr td:last-child { border-bottom: 1px double #667073; }

    .resp tr:last-child td:last-child { border: none; }

    .resp td:before {
        font-weight: bold;
        left: 6px;
        padding-right: 10px;
        position: absolute;
        text-align: left;
        top: 6px;
        white-space: nowrap;
        width: 45%;
    }

    td:nth-of-type(1):before { content: "Fecha de carga:"; }

    td:nth-of-type(2):before { content: "Cliente"; }

    td:nth-of-type(3):before { content: "Direccion:"; }

    td:nth-of-type(4):before { content: "Email:"; }

    td:nth-of-type(5):before { content: "Tarea a realizar"; }

    td:nth-of-type(6):before { content: "Estado"; }

    td:nth-of-type(7):before { content: "Asignado a:"; }

    td:nth-of-type(8):before { content: "Creado por:"; }
}